.label-member {
    -fx-padding: 3px;
    -fx-text-fill: #345449;
    -fx-font-weight: bold;
    -fx-background-color: #f3e8d2;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-size: 16px;
}

.custom-checkbox .box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

.custom-checkbox:selected .box {
    -fx-background-color: #345449;
}

.custom-checkbox .mark {
    -fx-background-color: transparent;
}

.custom-checkbox:selected .mark {
    -fx-background-color: white;
}

.text-field-no-border{
    -fx-border-color: #345449;
    -fx-border-radius: 20;
    -fx-border-width: 0.5;
    -fx-border-style: solid;
    -fx-background-radius: 10;
    -fx-min-width: 220;
    -fx-max-width: 220;
}

.transparent-scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-padding: 15 5 15 15;
}
