.button-styled {
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-background-color: #e0e191;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button-styled:hover {
    -fx-background-color: #f3e8d2;
}

.button-member {
    -fx-background-color: #edc7f8;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: 'Dejavu Sans Condensed';
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.button-member:hover {
    -fx-background-color: #f3e8d2;
}

.label-confirmation{
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-background-color: #f3e8d2;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5px;
}

.combo-box-styled {
    -fx-background-color: #f3e8d2;
    -fx-border-color: #000000;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-font-family: 'System';
    -fx-font-size: 13px;
}

.combo-box-styled .list-cell {
    -fx-background-color: #f3e8d2;
    -fx-text-fill: #000000;
    -fx-font-family: 'System';
    -fx-font-size: 13px;
}

.combo-box-styled .list-cell:hover {
    -fx-background-color: #8C816B;
}

.combo-box-styled .arrow-button {
    -fx-background-color: #f3e8d2;
    -fx-shape: "";
}

.combo-box-styled .arrow-button .arrow {
    -fx-background-color: #000000;
}

.combo-box-styled .arrow-button:hover {
    -fx-background-color: #000000;
}

.combo-box-styled .arrow-button:hover .arrow {
    -fx-background-color: #f3e8d2;
}
