.left_pane {
    -fx-background-color: #345449;
}

.right_pane {
    -fx-background-color: #f3e8d2;
}

.button-styled {
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-color: #e0e191;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button-styled:hover {
    -fx-font-size: 15px;
    -fx-background-color: #f3e8d2;
}

.button-options {
    -fx-background-color: #edc7f8;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: 'Dejavu Sans Condensed';
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.button-options:hover {
    -fx-background-color: #D162F0;
}

.button-member {
    -fx-background-color: #edc7f8;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: 'Dejavu Sans Condensed';
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-min-height: 37;
    -fx-max-height: 37;
}

.button-member:hover {
    -fx-background-color: #f3e8d2;
}

.label-styled {
    -fx-font-family: 'Dejavu Sans Condensed';
    -fx-font-weight: bold;
    -fx-background-color: #e0e191;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.label-tasks {
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.label-result{
    -fx-background-radius: 10;
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.vbox-tasks{
    -fx-background-color: #edc7f8;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .content {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10;
}


.progress-bar {
    -fx-control-inner-background: #edc7f8;
    -fx-accent: #345449;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 15.5;
}

.progress-bar .track {
    -fx-background-color: #edc7f8;
    -fx-background-radius: 15;
}

.progress-bar .bar {
    -fx-background-color: #345449;
    -fx-background-insets: 0;
    -fx-background-radius: 15;
}


.scroll-pane-member {
    -fx-hbar-policy: never;
    -fx-background-color: transparent;
}

.scroll-pane-member .scroll-bar:vertical {
    -fx-background-color: #edc7f8;
    -fx-background-radius: 10px;
}

.scroll-pane-member .scroll-bar:vertical:pressed {
    -fx-background-color: #888888;
}

.scroll-pane-member .scroll-bar:vertical .increment-button {
    -fx-background-color: #edc7f8;
}

.scroll-pane-member .scroll-bar:vertical .decrement-button {
    -fx-background-color: #edc7f8;
}

.scroll-pane-member .scroll-bar:vertical .thumb {
    -fx-background-color: #D162F0;
}
