.left_pane {
    -fx-background-color: #345449; /* Substitua #00ff00 pela cor desejada */
}

.right_pane {
    -fx-background-color: #f3e8d2; /* Substitua #00ff00 pela cor desejada */
}

.button-styled {
    -fx-font-family: 'System'; /* Fonte */
    -fx-font-weight: bold; /* Negrito */
    -fx-font-size: 15px;
    -fx-background-color: #e0e191; /* Background off white */
    -fx-border-color: #000000; /* Borda preta */
    -fx-border-radius: 10; /* Raio para bordas arredondadas */
    -fx-background-radius: 10; /* Raio para o background arredondado */
}


/* Estilo para o Botão ao passar o mouse sobre ele */
.button-styled:hover {
    -fx-font-size: 15px;
    -fx-background-color: #f3e8d2; /* Cor do background ao passar o mouse */
}

.button-options {
    -fx-background-color: #edc7f8; /* Background off white */
    -fx-border-color: black; /* Borda preta */
    -fx-border-width: 0.5px;
    -fx-border-radius: 10; /* Raio para bordas arredondadas */
    -fx-background-radius: 10; /* Raio para o background arredondado */
    -fx-font-family: 'Dejavu Sans Condensed'; /* Fonte */
    -fx-font-weight: bold; /* Negrito */
    -fx-font-size: 16px; /* Tamanho da fonte */
}

/* Estilo para o Botão ao passar o mouse sobre ele (opcional) */
.button-options:hover {
    -fx-background-color: #D162F0; /* Cor do background ao passar o mouse */
}

.button-member {
    -fx-background-color: #edc7f8; /* Background off white */
    -fx-border-color: black; /* Borda preta */
    -fx-border-width: 0.5px;
    -fx-border-radius: 10; /* Raio para bordas arredondadas */
    -fx-background-radius: 10; /* Raio para o background arredondado */
    -fx-font-family: 'Dejavu Sans Condensed'; /* Fonte */
    -fx-font-weight: bold; /* Negrito */
    -fx-font-size: 16px; /* Tamanho da fonte */
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-min-height: 37;
    -fx-max-height: 37;
}

.button-member:hover {
    -fx-background-color: #f3e8d2; /* Cor do background ao passar o mouse */
}

.label-styled {
    -fx-font-family: 'Dejavu Sans Condensed'; /* Fonte */
    -fx-font-weight: bold; /* Negrito */
    -fx-background-color: #e0e191; /* Background off white */
    -fx-border-color: transparent; /* Borda preta */
    -fx-border-radius: 20; /* Raio para bordas arredondadas */
    -fx-background-radius: 20; /* Raio para o background arredondado */
}

.label-tasks {
    -fx-font-family: 'System'; /* Fonte */
    -fx-font-weight: bold;
    -fx-border-color: transparent; /* Borda preta */
    -fx-border-radius: 20; /* Raio para bordas arredondadas */
    -fx-background-radius: 20; /* Raio para o background arredondado */
}

.label-result{
    -fx-background-radius: 10; /* Raio para o background arredondado */
    -fx-font-family: 'System'; /* Fonte */
    -fx-font-weight: bold; /* Negrito */
    -fx-font-size: 15px; /* Tamanho da fonte */
}

.vbox-tasks{
    -fx-background-color: #edc7f8; /* Background off white */
    -fx-border-color: transparent;
    -fx-border-radius: 20; /* Raio para bordas arredondadas */
    -fx-background-radius: 20;
}

.scroll-pane {
    -fx-background-color: transparent; /* Define o fundo do ScrollPane como transparente */
}

.scroll-pane .viewport {
    -fx-background-color: transparent; /* Define o fundo da área visível do ScrollPane como transparente */
}

.scroll-pane .content {
    -fx-background-color: #f0f0f0; /* Define a cor de fundo do conteúdo do ScrollPane */
    -fx-background-radius: 10; /* Define o raio da borda do conteúdo do ScrollPane */
}


.progress-bar {
    -fx-control-inner-background: #edc7f8; /* Cor de fundo da barra de progresso */
    -fx-accent: #345449; /* Cor da barra de progresso */
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 15.5;
}

.progress-bar .track {
    -fx-background-color: #edc7f8; /* Cor de fundo da barra de progresso */
    -fx-background-radius: 15; /* Raio para o fundo da barra de progresso */
}

.progress-bar .bar {
    -fx-background-color: #345449; /* Cor da barra de progresso */
    -fx-background-insets: 0; /* Remove o preenchimento interno */
    -fx-background-radius: 15; /* Raio para a barra de progresso */
}


.scroll-pane-member {
    -fx-hbar-policy: never;
    -fx-background-color: transparent;
}

.scroll-pane-member .scroll-bar:vertical {
    -fx-background-color: #edc7f8; /* Cor de fundo da barra */
    -fx-background-radius: 10px;
}

/* Barra de rolagem quando é pressionada */
.scroll-pane-member .scroll-bar:vertical:pressed {
    -fx-background-color: #888888;
}

/* Botão para rolar para cima */
.scroll-pane-member .scroll-bar:vertical .increment-button {
    -fx-background-color: #edc7f8; /* Cor de fundo do botão */
}

/* Botão para rolar para baixo */
.scroll-pane-member .scroll-bar:vertical .decrement-button {
    -fx-background-color: #edc7f8; /* Cor de fundo do botão */
}

/* Estilizando o Thumb (a alça) */
.scroll-pane-member .scroll-bar:vertical .thumb {
    -fx-background-color: #D162F0; /* Cor de fundo do thumb */
}
