.left_pane{
    -fx-background-color: #345449;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
}

.right_pane{
    -fx-background-color: #f3e8d2;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
}

.text-field-no-border{
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-border-color: #345449;
    -fx-border-width: 0px 0px 2px 0px;
}

.button-styled {
    -fx-background-color: #f3e8d2;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button-styled:hover {
    -fx-background-color: #8C816B;
}