.left_pane {
    -fx-background-color: #f3e8d2;
}

.right_pane {
    -fx-background-color: #345449;
}

.button-member {
    -fx-background-color: #edc7f8;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: 'Dejavu Sans Condensed';
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-min-height: 37;
    -fx-max-height: 37;
}

.button-member:hover {
    -fx-background-color: #f3e8d2;
}

.label-hello {
    -fx-padding: 0 0 0 5px;
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-background-color: #edc7f8;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.label-styled {
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-background-color: #edc7f8;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 18px;
}

.label-result-styled {
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-background-color: #edc7f8;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 13px;
    -fx-text-alignment: center;
}

.label-tasks {
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 15px;
}

.label-progress-bar {
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.label-daily-progress {
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 14px;
}

.daily-task-anchor {
    -fx-background-color: #e0e191;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #ecdfd7;
    -fx-min-width: 100;
    -fx-min-height: 140;
    -fx-max-width: 100;
    -fx-max-height: 140;
}

.weekly-task-anchor {
    -fx-background-color: #E1DB87;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #ecdfd7;
    -fx-min-width: 100;
    -fx-min-height: 140;
    -fx-max-width: 100;
    -fx-max-height: 140;
}

.custom-checkbox .box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

.custom-checkbox:selected .box {
    -fx-background-color: #345449;
}

.custom-checkbox .mark {
    -fx-background-color: transparent;
}

.custom-checkbox:selected .mark {
    -fx-background-color: white;
}

.progress-bar {
    -fx-control-inner-background: #edc7f8;
    -fx-accent: #F048CE;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 15.5;
}

.progress-bar .track {
    -fx-background-color: #edc7f8;
    -fx-background-radius: 15;
}

.progress-bar .bar {
    -fx-background-color: #F048CE;
    -fx-background-insets: 0;
    -fx-background-radius: 15;
}
