.left_pane {
    -fx-background-color: #f3e8d2; /* Substitua #00ff00 pela cor desejada */
}

.right_pane {
    -fx-background-color: #345449; /* Substitua #00ff00 pela cor desejada */
}

.button-styled {
    -fx-background-color: #e0e191; /* Background off white */
    -fx-border-color: #000000; /* Borda preta */
    -fx-border-radius: 10; /* Raio para bordas arredondadas */
    -fx-background-radius: 10; /* Raio para o background arredondado */
}

/* Estilo para o Botão ao passar o mouse sobre ele (opcional) */
.button-styled:hover {
    -fx-background-color: #f3e8d2; /* Cor do background ao passar o mouse */
}

.button-member {
    -fx-background-color: #edc7f8; /* Background off white */
    -fx-border-color: #000000; /* Borda preta */
    -fx-border-radius: 10; /* Raio para bordas arredondadas */
    -fx-background-radius: 10; /* Raio para o background arredondado */
    -fx-font-family: 'Dejavu Sans Condensed'; /* Fonte */
    -fx-font-weight: bold; /* Negrito */
    -fx-font-size: 13px; /* Tamanho da fonte */
}

/* Estilo para o Botão ao passar o mouse sobre ele (opcional) */
.button-member:hover {
    -fx-background-color: #f3e8d2; /* Cor do background ao passar o mouse */
}

.label-styled {
    -fx-font-family: 'Dejavu Sans Condensed'; /* Fonte */
    -fx-font-weight: bold; /* Negrito */
    -fx-background-color: #edc7f8; /* Background off white */
    -fx-border-color: transparent; /* Borda preta */
    -fx-border-radius: 20; /* Raio para bordas arredondadas */
    -fx-background-radius: 20; /* Raio para o background arredondado */
}

.label-tasks {
    -fx-font-family: 'Dejavu Sans Condensed'; /* Fonte */
    -fx-font-weight: bold;
    -fx-border-color: transparent; /* Borda preta */
    -fx-border-radius: 20; /* Raio para bordas arredondadas */
    -fx-background-radius: 20; /* Raio para o background arredondado */
    -fx-font-size: 15px; /* Tamanho da fonte */
}

.label-progress-bar {
    -fx-font-family: 'Dejavu Sans Condensed'; /* Fonte */
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 12px; /* Tamanho da fonte */
}

.label-daily-progress {
    -fx-font-family: 'Dejavu Sans Condensed'; /* Fonte */
    -fx-font-weight: bold;
    -fx-border-color: transparent; /* Borda preta */
    -fx-border-radius: 20; /* Raio para bordas arredondadas */
    -fx-background-radius: 20; /* Raio para o background arredondado */
    -fx-font-size: 12px; /* Tamanho da fonte */
}

.daily-task-anchor {
    -fx-background-color: #e0e191;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #ecdfd7;
    -fx-min-width: 93;
    -fx-min-height: 124;
    -fx-max-width: 93;
    -fx-max-height: 124;
}

.weekly-task-anchor {
    -fx-background-color: #E1DB87;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #ecdfd7;
    -fx-min-width: 93;
    -fx-min-height: 124;
    -fx-max-width: 93;
    -fx-max-height: 124;
}

/* Estilo para o CheckBox */
.custom-checkbox .box {
    -fx-background-color: transparent;
    -fx-border-color: white; /* Cor da borda */
    -fx-border-width: 2; /* Largura da borda */
    -fx-border-radius: 3; /* Raio da borda */
}

.custom-checkbox:selected .box {
    -fx-background-color: #345449; /* Cor do fundo quando selecionado */
}

.custom-checkbox .mark {
    -fx-background-color: transparent;
}

.custom-checkbox:selected .mark {
    -fx-background-color: white; /* Cor do "check" quando selecionado */
}

.progress-bar {
    -fx-control-inner-background: #edc7f8; /* Cor de fundo da barra de progresso */
    -fx-accent: #F048CE; /* Cor da barra de progresso */
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 15.5;
}

.progress-bar .track {
    -fx-background-color: #edc7f8; /* Cor de fundo da barra de progresso */
    -fx-background-radius: 15; /* Raio para o fundo da barra de progresso */
}

.progress-bar .bar {
    -fx-background-color: #F048CE; /* Cor da barra de progresso */
    -fx-background-insets: 0; /* Remove o preenchimento interno */
    -fx-background-radius: 15; /* Raio para a barra de progresso */
}


