.left_pane{
    -fx-background-color: #e0e191;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
}

.right_pane{
    -fx-background-color: #edc7f8;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
}

.button-styled {
    -fx-background-color: #f3e8d2;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button-styled:hover {
    -fx-background-color: #8C816B;
}

.text-field-no-border {
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-border-color: #345449;
    -fx-border-width: 0px 0px 2px 0px;
}

.text-field-member {
    -fx-border-color: #345449;
    -fx-border-radius: 20;
    -fx-border-width: 0.5;
    -fx-border-style: solid;
    -fx-background-radius: 10;
    -fx-max-width: 280;
}

.label-styled {
    -fx-background-color: #f3e8d2;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.label-names-styled {
    -fx-text-fill: #345449;
    -fx-background-color: #f3e8d2;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 12px;
}

.scroll-pane{
    -fx-padding: 12 5 12 12;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color:  #345449;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.text-field-no-border{
    -fx-background-radius: 10;
}

.combo-box-styled {
    -fx-background-color: #f3e8d2;
    -fx-border-color: #000000;
    -fx-font-family: 'System';
    -fx-font-size: 13px;
}

.combo-box-styled .list-cell {
    -fx-background-color: #f3e8d2;
    -fx-text-fill: #000000;
    -fx-font-family: 'System';
    -fx-font-size: 13px;
}

.combo-box-styled .list-cell:hover {
    -fx-background-color: #8C816B;
}

.combo-box-styled .arrow-button {
    -fx-background-color: #f3e8d2;
    -fx-shape: "";
}

.combo-box-styled .arrow-button .arrow {
    -fx-background-color: #000000;
}

.combo-box-styled .arrow-button:hover {
    -fx-background-color: #000000;
}

.combo-box-styled .arrow-button:hover .arrow {
    -fx-background-color: #f3e8d2;
}
