.button-styled {
    -fx-background-color: #f3e8d2;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button-styled:hover {
    -fx-background-color: #8C816B;
}

.label-styled {
    -fx-background-color: #f3e8d2;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.label-tasks {
    -fx-font-family: 'System';
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 15px;
}

.transparent-scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.text-field-no-border{
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-background-radius: 10;
}

.scroll-pane{
    -fx-padding: 15 5 15 15;
    -fx-background-color: transparent;
}

.v-box{
    -fx-background-color: transparent;
}

.custom-checkbox .box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

.custom-checkbox:selected .box {
    -fx-background-color: #edc7f8;
}

.custom-checkbox .mark {
    -fx-background-color: transparent;
}

.custom-checkbox:selected .mark {
    -fx-background-color: #345449;
}

.text-field-no-border{
    -fx-background-radius: 10;
}
