.button-styled {
    -fx-background-color: #f3e8d2; /* Background off white */
    -fx-border-color: #000000; /* Borda preta */
    -fx-border-radius: 10; /* Raio para bordas arredondadas */
    -fx-background-radius: 10; /* Raio para o background arredondado */
}

/* Estilo para o Botão ao passar o mouse sobre ele  */
.button-styled:hover {
    -fx-background-color: #8C816B; /* Cor do background ao passar o mouse */
}

.label-styled {
    -fx-background-color: #f3e8d2; /* Background off white */
    -fx-border-color: transparent; /* Borda preta */
    -fx-border-radius: 10; /* Raio para bordas arredondadas */
    -fx-background-radius: 10; /* Raio para o background arredondado */
}

.label-tasks {
    -fx-font-family: 'System'; /* Fonte */
    -fx-font-weight: bold;
    -fx-border-color: transparent; /* Borda transparente */
    -fx-border-radius: 20; /* Raio para bordas arredondadas */
    -fx-background-radius: 20; /* Raio para o background arredondado */
    -fx-font-size: 13px; /* Tamanho da fonte */
}

.transparent-scroll-pane {
    -fx-background-color: transparent; /* Define o fundo do ScrollPane como transparente */
    -fx-background: transparent; /* Adiciona suporte a versões mais antigas do JavaFX */
    -fx-border-color: white; /* Define a cor da borda como preta */
    -fx-border-radius: 20; /* Raio para bordas arredondadas */
    -fx-border-width: 1; /* Define a largura da borda (1 pixel, por exemplo) */
    -fx-border-style: solid; /* Define o estilo da borda como sólida */
}

.text-field-no-border{ /* Define a cor de fundo como transparente */
    -fx-border-color: white; /* Define a cor da borda como branca */
    -fx-border-radius: 20; /* Raio para bordas arredondadas */
    -fx-border-width: 1; /* Define a largura da borda (1 pixel, por exemplo) */
    -fx-border-style: solid; /* Define o estilo da borda como sólida */
    -fx-background-radius: 10; /* Raio para bordas arredondadas */
}

.scroll-pane{
    -fx-padding: 15 5 15 15; /* Adicionando espaçamento (topo, direita, inferior, esquerda) */
    -fx-background-color: transparent;
}

.v-box{
    -fx-background-color: transparent;
}

/* Estilo para o CheckBox */
.custom-checkbox .box {
    -fx-background-color: transparent;
    -fx-border-color: white; /* Cor da borda */
    -fx-border-width: 2; /* Largura da borda */
    -fx-border-radius: 3; /* Raio da borda */
}

.custom-checkbox:selected .box {
    -fx-background-color: #edc7f8; /* Cor do fundo quando selecionado */
}

.custom-checkbox .mark {
    -fx-background-color: transparent;
}

.custom-checkbox:selected .mark {
    -fx-background-color: #345449; /* Cor do "check" quando selecionado */
}

.text-field-no-border{ /* Define a cor de fundo como transparente */
    /* Define a cor da borda como transparente */
    -fx-background-radius: 10; /* Raio para bordas arredondadas */
}

.combo-box-styled {
    -fx-background-color: #f3e8d2; /* Cor de fundo off white */
    -fx-border-color: #000000; /* Cor da borda preta */
    -fx-border-radius: 10; /* Raio para bordas arredondadas */
    -fx-background-radius: 10; /* Raio para o background arredondado */
    -fx-pref-width: 200; /* Largura preferencial */
    -fx-font-family: 'System'; /* Fonte */
    -fx-font-size: 13px; /* Tamanho da fonte */
}

.combo-box-styled .list-cell {
    -fx-background-color: #f3e8d2; /* Cor de fundo off white */
    -fx-text-fill: #000000; /* Cor do texto preto */
    -fx-font-family: 'System'; /* Fonte */
    -fx-font-size: 13px; /* Tamanho da fonte */
}

.combo-box-styled .arrow-button {
    -fx-background-color: #f3e8d2; /* Cor de fundo off white */
    -fx-shape: ""; /* Remove a seta padrão */
}

.combo-box-styled .arrow-button .arrow {
    -fx-background-color: #000000; /* Cor da seta preta */
}

.combo-box-styled .arrow-button:hover {
    -fx-background-color: #000000; /* Cor de fundo ao passar o mouse */
}

.combo-box-styled .arrow-button:hover .arrow {
    -fx-background-color: #f3e8d2; /* Cor da seta ao passar o mouse */
}